{{define "article"}}
<!DOCTYPE html>
<html>
<head>
	<title>{{.article.Title}} - Article - Huanyu Blog</title>
  <link rel="icon" href="http://images.huanyu0w0.cn/blog/rm-rf.jpg">
	<meta charset="UTF-8">
  <link rel="stylesheet" href="http://images.huanyu0w0.cn/css/material.grey-blue.min.css" />
  <link rel="stylesheet" href="http://images.huanyu0w0.cn/css/github-markdown.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
      .markdown-body {
        box-sizing: border-box;
        min-width: 200px;
        max-width: 980px;
        margin: 0 auto;
        padding: 45px;
      }

      @media (max-width: 767px) {
        .markdown-body {
          padding: 15px;
        }
      }
  </style>
  <script type="text/javascript" src="http://images.huanyu0w0.cn/material.min.js"></script>
  <link rel="stylesheet" href="http://images.huanyu0w0.cn/css/material_icon.css">
</head>
<body>
<div class="mdl-layout mdl-js-layout">

  <header class="mdl-layout__header mdl-layout__header--transparent mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link mdl-color-text--accent" href="/"><strong>HOME</strong></a>
        <a class="mdl-navigation__link mdl-color-text--accent" href="contact"><strong>CONTACT</strong></a>
        <a class="mdl-navigation__link mdl-color-text--accent" href="/donate"><strong>DONATE</strong></a>
      </nav>
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <div class="mdl-layout-spacer"></div>
    </div>
    <div class="mdl-layout__header-row">
      <div class="mdl-layout-spacer"></div>
      <button id="avatar" class="mdl-button mdl-js-button mdl-button--fab mdl-shadow--2dp">      
        <img src="http://images.huanyu0w0.cn/blog/rm-rf.jpg" style="width: 100%; height: 100%; border-radius: 50%;">
      </button>
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <div class="mdl-layout-spacer"></div>
    </div>
  </header>

  <main class="mdl-layout__content">
  	<div class="mdl-grid">
  		<div class="mdl-cell mdl-cell--12-col">
  			<h1 align="center" class="mdl-color-text--grey-800"><strong>{{.article.Title}}</strong></h1>
  			<h4 align="center" class="mdl-color-text--grey">PUBLISHED {{.article.CreateTime}} BY LI HUANYU</h4>
        <p align="center" class="mdl-color-text--grey">CLICK {{.article.ClickCount}} TIMES</p>
  		</div>
      <br>
  		<div class="mdl-cell mdl-cell--2-col"></div>
  		<div class="mdl-cell mdl-cell--8-col">
  			<div class="mdl-progress mdl-js-progress mdl-progress__indeterminate" style="width: 100%;"></div>
      </div>
      <div class="mdl-cell mdl-cell--2-col"></div>

      <div class="mdl-cell mdl-cell--2-col"></div>
      <div class="mdl-cell mdl-cell--8-col">

        <article class="markdown-body">
          {{.content}}
        </article>
      </div>
      <div class="mdl-cell mdl-cell--2-col"></div>

      <div class="mdl-cell mdl-cell--12-col">
        <center class="mdl-color-text--grey">
          <p><big>如果您喜欢这篇文章，请随意赞赏。您的支持将鼓励我写出更优质的内容！</big></p>
          <p><big>If you like this article, you may be donate me yourself. Your support will make me do better!</big></p>
        </center>
        <center>
          <a href="/donate" target="_blank" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="margin-left: auto; margin-right: auto;">
            <i class="material-icons">attach_money</i>
          </a>
        </center>
      </div>

      <div class="mdl-cell mdl-cell--2-col"></div>
      <div class="mdl-cell mdl-cell--8-col">
        <h5 class="mdl-color-text--primary">Comments&nbsp({{.article.CommentCount}})</h5>
        <hr>
      </div>
      <div class="mdl-cell mdl-cell--2-col"></div>

      <div class="mdl-cell mdl-cell--2-col"></div>
      <div class="mdl-cell mdl-cell--8-col">
        <form action="/v1/comments" method="POST">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 20%;">
            <input class="mdl-textfield__input" type="text" name="nick_name" id="nick_name">
            <label class="mdl-textfield__label" for="nick_name">Nick Name...</label>
          </div>
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 30%">
            <input class="mdl-textfield__input" type="text" name="avatar_url" id="avatar_url">
            <label class="mdl-textfield__label" for="avatar_url">Avatar Url...</label>
          </div>
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-textfield mdl-js-textfield" style="width: 50%;">
            <textarea class="mdl-textfield__input" type="text" rows= "3" id="content" name="content"></textarea>
            <label class="mdl-textfield__label" for="content">Say Something...</label>
            <span style="direction: rtl;">
              <button class="mdl-button mdl-js-button mdl-button--primary mdl-button--icon">
                <i class="material-icons">send</i>
              </button>
            </span>
          </div>
          <input type="hidden" value="{{.token}}" name="token">
          <input type="hidden" value="{{.article.Id}}" name="article_id">
        </form>
      </div>
      <div class="mdl-cell mdl-cell--2-col"></div>

      {{range .article.Comments}}
      <div class="mdl-cell mdl-cell--2-col"></div>
      <div class="mdl-cell mdl-cell--8-col">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-shadow--2dp" style="float: left;">      
          <img src="{{.AvatarUrl}}" style="width: 100%; height: 100%; border-radius: 50%;"  id="{{.Id}}">
        </button>
        <span style="float: left; ">
          <strong class="mdl-color-text--grey-700" style="margin-left: 4px;">
            {{.NickName}}
          </strong><br>
          <small class="mdl-color-text--primary" style="margin-left: 4px;">
            {{.CreateTime}}
          </small>
        </span>
        <br style="clear: left;">
        <p class="mdl-color-text--grey-700" style="margin: 11px; margin-left: 44px;">
          {{.Content}}
        </p>
        <hr>
      </div>
      <div class="mdl-cell mdl-cell--2-col"></div>
      {{end}}

  	</div>
  </main>

</div>
</body>
</html>
{{end}}