<!DOCTYPE html>
<html>
<head>
	<title>Donate me - Huanyu Blog</title>
  <link rel="icon" href="http://images.huanyu0w0.cn/blog/rm-rf.jpg">
	<meta charset="UTF-8">
   	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.grey-blue.min.css" />
    <script type="text/javascript" src="http://images.huanyu0w0.cn/material.min.js"></script>
    <link rel="stylesheet" href="http://images.huanyu0w0.cn/css/material_icon.css">
</head>
<body>
<div class="mdl-layout mdl-js-layout">

  <header class="mdl-layout__header mdl-layout__header--transparent mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link mdl-color-text--accent" href="/"><strong>HOME</strong></a>
        <a class="mdl-navigation__link mdl-color-text--accent" href="/contact"><strong>CONTACT</strong></a>
        <a class="mdl-navigation__link mdl-color-text--accent" href="/donate"><strong>DONATE</strong></a>
      </nav>
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <div class="mdl-layout-spacer"></div>
    </div>
    <div class="mdl-layout__header-row">
      <div class="mdl-layout-spacer"></div>
    <button id="avatar" class="mdl-button mdl-js-button mdl-button--fab mdl-shadow--2dp">      
      <img src="http://images.huanyu0w0.cn/blog/rm-rf.jpg" style="width: 100%; height: 100%; border-radius: 50%;">
      </button>
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <div class="mdl-layout-spacer"></div>
    </div>
  </header>

  <main class="mdl-layout__content">
  	<div class="mdl-grid">
  		<div class="mdl-cell mdl-cell--12-col">
  			<h1 align="center" class="mdl-color-text--grey-800"><strong>DONATE</strong></h1>
  			<h4 align="center" class="mdl-color-text--grey">THANK YOUR SUPPORT</h4>
  		</div>
      <br>
  		<div class="mdl-cell mdl-cell--3-col"></div>
  		<div class="mdl-cell mdl-cell--6-col">
  			<div class="mdl-progress mdl-js-progress mdl-progress__indeterminate" style="width: 100%;"></div><br>
      </div>
      <div class="mdl-cell mdl-cell--3-col"></div>

      <div class="mdl-cell mdl-cell--3-col"></div>
      <div class="mdl-cell mdl-cell--6-col">
      <h3 class="mdl-color-text--grey-800">WeChat</h3>
      <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
          <a href="#sixweixin" class="mdl-tabs__tab is-active">￥6</a>
          <a href="#twotwoweixin" class="mdl-tabs__tab">￥22</a>
          <a href="#threethreeweixin" class="mdl-tabs__tab">￥33</a>
          <a href="#sixsixweixin" class="mdl-tabs__tab">￥66</a>
          <a href="#zeroweixin" class="mdl-tabs__tab">FREESTYLE</a>
        </div>

        <div class="mdl-tabs__panel is-active" id="sixweixin">
          <img src="http://images.huanyu0w0.cn/QRcode/weixin6.jpg" width="414px" height="568px">
        </div>
        <div class="mdl-tabs__panel" id="twotwoweixin">
          <img src="http://images.huanyu0w0.cn/QRcode/weixin22.jpg" width="414px" height="568px">
        </div>
        <div class="mdl-tabs__panel" id="threethreeweixin">
          <img src="http://images.huanyu0w0.cn/QRcode/weixin33.jpg" width="414px" height="568px">
        </div>
        <div class="mdl-tabs__panel" id="sixsixweixin">
          <img src="http://images.huanyu0w0.cn/QRcode/weixin66.jpg" width="414px" height="568px">
        </div>
        <div class="mdl-tabs__panel" id="zeroweixin">
          <img src="http://images.huanyu0w0.cn/QRcode/weixin0.jpg" width="414px" height="568px">
        </div>
      </div>
      </div>
      <div class="mdl-cell mdl-cell--3-col"></div>

      <div class="mdl-cell mdl-cell--3-col"></div>
      <div class="mdl-cell mdl-cell--6-col">
      <h3 class="mdl-color-text--grey-800">Zhifubao</h3>
      <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
          <a href="#sixzhifubao" class="mdl-tabs__tab is-active">￥6</a>
          <a href="#twotwozhifubao" class="mdl-tabs__tab">￥22</a>
          <a href="#threethreezhifubao" class="mdl-tabs__tab">￥33</a>
          <a href="#sixsixzhifubao" class="mdl-tabs__tab">￥66</a>
          <a href="#zerozhifubao" class="mdl-tabs__tab">FREESTYLE</a>
        </div>

        <div class="mdl-tabs__panel is-active" id="sixzhifubao">
          <img src="http://images.huanyu0w0.cn/QRcode/zhifubao6.jpg" width="422px" height="640px">
        </div>
        <div class="mdl-tabs__panel" id="twotwozhifubao">
          <img src="http://images.huanyu0w0.cn/QRcode/zhifubao22.jpg" width="422px" height="640px">
        </div>
        <div class="mdl-tabs__panel" id="threethreezhifubao">
          <img src="http://images.huanyu0w0.cn/QRcode/zhifubao33.jpg" width="422px" height="640px">
        </div>
        <div class="mdl-tabs__panel" id="sixsixzhifubao">
          <img src="http://images.huanyu0w0.cn/QRcode/zhifubao66.jpg" width="422px" height="640px">
        </div>
        <div class="mdl-tabs__panel" id="zerozhifubao">
          <img src="http://images.huanyu0w0.cn/QRcode/zhifubao0.jpg" width="422px" height="640px">
        </div>

      </div>
  		</div>
      <div class="mdl-cell mdl-cell--3-col"></div>
  	</div>
  </main>

</div>
</body>
</html>